Src/.vs/SmartMeApiClient/v16/.suo
Src/.vs/
Src/Example/bin/
Src/Example/obj/
Src/packages/
.vs/
Src/SmartMeApiClient/bin/
Src/SmartMeApiClient/obj/
Src/OAuthWebExample/bin/
Src/OAuthWebExample/obj/
*.user
bin/
.vscode/
*.bak
obj/
Src/OidcWebExample/appsettings.Development.json
